.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 350px;
    background-color: #f0f0f0;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-logo{
    margin: 5px;
    width: 190px;
}